.BookingH{
    background-image: url('https://wallpapercave.com/wp/wp4128800.jpg');
    height: 50rem;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

table{
    border: 1px solid black;
    
}
tr{
    background-color: antiquewhite;
    /* opacity: .7; */
    border: 1px solid black;
}


h2{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    padding-bottom: 3rem;
}
button{
    border: none;
    border-radius: 5px;
}
.green{
    background-color: green;
    color: white;
}
.red{
    background-color: red;
}
button.red {
    color: white;
}