<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<div class="BookPay" >
    <div style="width: 100%;" *ngIf="!isLoading">
        <div style="width: 50%; height: 100px; float: left;">
            <h2 class="display-6">Update Flight Details</h2>
    
            <form #form="ngForm"   ngNativeValidate (ngSubmit)="updateFlight()">
                <div class="input-group mb-3">
                    <label class="input-group-text">Id</label>
                    <input type="number" name="flight_ID" minlength="4" required class="form-control input" autocomplete="off" 
                    *ngIf="flight" [(ngModel)]="flight.flight_ID" style="outline: none;" disabled /><br />
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Name</label>
                    <input type="text" name="flight_Name" minlength="2" required class="form-control input" autocomplete="off" 
                    *ngIf="flight" [(ngModel)]="flight.flight_Name" style="outline: none;" /><br />
                </div>
    
                <div class="input-group mb-3">
                    <label class="input-group-text">Source</label>
                    <input type="text" name="source" minlength="2" required class="form-control input" autocomplete="off" 
                    *ngIf="flight" [(ngModel)]="flight.source" style="outline: none;" /><br />
                </div>
    
                <div class="input-group mb-3">
                    <label class="input-group-text">Destination</label>
                    <input type="text" name="destination" minlength="2" required class="form-control input" autocomplete="off" 
                    *ngIf="flight" [(ngModel)]="flight.destination" style="outline: none;" /><br />
                </div>
    
                <div class="input-group mb-3">
                    <label class="input-group-text">Boarding Time</label>
                    <input type="datetime-local" name="boarding_Time" minlength="2" required class="form-control input" autocomplete="off" 
                    *ngIf="flight" [(ngModel)]="flight.boarding_Time" style="outline: none;" /><br />
                </div>
    
                <div class="input-group mb-3">
                    <label class="input-group-text input">Fare</label>
                    <input type="number"  required class="form-control" autocomplete="off" 
                    name="fare" *ngIf="flight" [(ngModel)]="flight.fare"/><br />
                </div>
    
    
               
                <button type="submit" value="submit" class="btn btn-primary" style="margin-left: 0.5%;" >Update</button>
                
            </form>
            <br/>
            
        </div>
        
        <lib-ng-toast></lib-ng-toast>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>