<div style="margin-left: 30px; float: left; width: 45%; margin-top: 40px;">
    <form #form="ngForm" (ngSubmit)="registerUser()">
        <div class="mb-3">
          <label for="userName" class="form-label">UserName</label>
          <input type="text" class="form-control" id="userName" autocomplete="off"
          name="UserName" [(ngModel)]="registerUserRequest.UserName">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" autocomplete="off"
          name="Password" [(ngModel)]="registerUserRequest.Password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" autocomplete="off"
            name="ConfirmPass" [(ngModel)]="registerUserRequest.ConfirmPass">
          </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
    <div style="margin-right: 30px; float: right; width: 50%; margin-top: 40px; ">
        <h3 class="display-3">Welcome to Flight Management Radar!</h3>
    </div>