<div class='CheckIn'>
  <h1 align="center" class="display-3">Enter Your Boarding ID to Check In</h1><br/>
  <form #form="ngForm" (ngSubmit)="checking()" style="margin-left: 2rem;">
      <div class="input-group mb-3" style="width: 45%;">
          <span class="input-group-text" id="inputGroup-sizing-default">Boarding Id</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="idValue" [(ngModel)]="idValue" autocomplete="off">
        </div>
      <button type="submit" value="Check" class="btn btn-primary" >Check In</button>
  </form>
  
  
<div class="wrapper">
  <app-loading-spinner *ngIf="isLoading" class="spin"></app-loading-spinner>
</div>

</div>
<lib-ng-toast></lib-ng-toast>
        
        
   