<div class="homes">
    <h1 class="display-4 text-center">Manage Your Flights Here</h1>
    <div class="container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.svgrepo.com/show/269495/flight-plane.svg" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Book Flight</h5> -->
        <button type="button" class="btn btn-primary btn-lg" (click)="addFlight()" >Flight Addition</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.svgrepo.com/show/513795/user-history.svg" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Fetch History</h5> -->
        <button type="button" class="btn btn-primary btn-lg" (click)="updateDeleteFlight()" >Flight Modification</button>
      </div>
    </div>
    
    
    </div>