<div style="margin-left: 30px; float: left; width: 45%; margin-top: 40px;">
<form #form="ngForm" (ngSubmit)="loginUser()" ngNativeValidate>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="off"
       name="UserName" [(ngModel)]="loginUserRequest.UserName" required>
    </div>
    <div class="mb-3"> 
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="off" 
      name="Password" [(ngModel)]="loginUserRequest.Password" required>
    </div>
    <button type="submit" class="btn btn-primary" routerLink="/login">Login</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;" routerLink="/register" >Register</button>
  </form>
  <div id="msg" style="color: red; list-style: none; margin-top: 2%;">
    <ul>
      <li *ngIf="error !='' ">{{error}}</li>
    </ul>
  </div>
</div>
<div style="margin-right: 30px; float: right; width: 50%; margin-top: 40px; ">
    <h3 class="display-3">Welcome to Flight Management Radar!</h3>
</div>
<router-outlet></router-outlet>